:root {
  --half-gutter-width-xs: calc(var(--gutter-width-xs) * 0.5);
  --half-gutter-width-sm: calc(var(--gutter-width-sm) * 0.5);
  --half-gutter-width-md: calc(var(--gutter-width-md) * 0.5);
  --half-gutter-width-lg: calc(var(--gutter-width-lg) * 0.5);
  --half-gutter-width-xl: calc(var(--gutter-width-xl) * 0.5);
  --lime-1: calc(100% / (12 / 1));
  --lime-2: calc(100% / (12 / 2));
  --lime-3: calc(100% / (12 / 3));
  --lime-4: calc(100% / (12 / 4));
  --lime-5: calc(100% / (12 / 5));
  --lime-6: calc(100% / (12 / 6));
  --lime-7: calc(100% / (12 / 7));
  --lime-8: calc(100% / (12 / 8));
  --lime-9: calc(100% / (12 / 9));
  --lime-10: calc(100% / (12 / 10));
  --lime-11: calc(100% / (12 / 11));
  --lime-12: calc(100% / (12 / 12));
}

.container {
  box-sizing: border-box;
  width: var(--container-width-xs);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--outside-gutter-width-xs);
  padding-left: var(--outside-gutter-width-xs);
}

.container-fluid {
  box-sizing: border-box;
  padding-right: var(--outside-gutter-width-xs);
  padding-left: var(--outside-gutter-width-xs);
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: calc(var(--half-gutter-width-xs) * -1);
  margin-left: calc(var(--half-gutter-width-xs) * -1);
}

/* Always */
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: var(--half-gutter-width-xs);
  padding-left: var(--half-gutter-width-xs);

  @media (--viewport-sm) {
    padding-right: var(--half-gutter-width-sm);
    padding-left: var(--half-gutter-width-sm);
  }

  @media (--viewport-md) {
    padding-right: var(--half-gutter-width-md);
    padding-left: var(--half-gutter-width-md);
  }

  @media (--viewport-lg) {
    padding-right: var(--half-gutter-width-lg);
    padding-left: var(--half-gutter-width-lg);
  }

  @media (--viewport-xl) {
    padding-right: var(--half-gutter-width-xl);
    padding-left: var(--half-gutter-width-xl);
  }
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-1 {
  flex-basis: var(--lime-1);
  max-width: var(--lime-1);
}

.col-2 {
  flex-basis: var(--lime-2);
  max-width: var(--lime-2);
}

.col-3 {
  flex-basis: var(--lime-3);
  max-width: var(--lime-3);
}

.col-4 {
  flex-basis: var(--lime-4);
  max-width: var(--lime-4);
}

.col-5 {
  flex-basis: var(--lime-5);
  max-width: var(--lime-5);
}

.col-6 {
  flex-basis: var(--lime-6);
  max-width: var(--lime-6);
}

.col-7 {
  flex-basis: var(--lime-7);
  max-width: var(--lime-7);
}

.col-8 {
  flex-basis: var(--lime-8);
  max-width: var(--lime-8);
}

.col-9 {
  flex-basis: var(--lime-9);
  max-width: var(--lime-9);
}

.col-10 {
  flex-basis: var(--lime-10);
  max-width: var(--lime-10);
}

.col-11 {
  flex-basis: var(--lime-11);
  max-width: var(--lime-11);
}

.col-12 {
  flex-basis: var(--lime-12);
  max-width: var(--lime-12);
}

.col-offset-0 {
  margin-left: 0;
}

.col-offset-1 {
  margin-left: var(--lime-1);
}

.col-offset-2 {
  margin-left: var(--lime-2);
}

.col-offset-3 {
  margin-left: var(--lime-3);
}

.col-offset-4 {
  margin-left: var(--lime-4);
}

.col-offset-5 {
  margin-left: var(--lime-5);
}

.col-offset-6 {
  margin-left: var(--lime-6);
}

.col-offset-7 {
  margin-left: var(--lime-7);
}

.col-offset-8 {
  margin-left: var(--lime-8);
}

.col-offset-9 {
  margin-left: var(--lime-9);
}

.col-offset-10 {
  margin-left: var(--lime-10);
}

.col-offset-11 {
  margin-left: var(--lime-11);
}

.col-first {
  order: -1;
}

.col-last {
  order: 1;
}

.col-reverse {
  flex-direction: column-reverse;
}

/**
 * Extra Small
 */
.row-xs-start {
  justify-content: flex-start;
}

.row-xs-center {
  justify-content: center;
}

.row-xs-end {
  justify-content: flex-end;
}

.row-xs-top {
  align-items: flex-start;
}

.row-xs-middle {
  align-items: center;
}

.row-xs-bottom {
  align-items: flex-end;
}

.row-xs-around {
  justify-content: space-around;
}

.row-xs-between {
  justify-content: space-between;
}

.row-xs-reverse {
  flex-direction: row-reverse;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: var(--half-gutter-width-xs);
  padding-left: var(--half-gutter-width-xs);
}

.col-xs-1 {
  flex-basis: var(--lime-1);
  max-width: var(--lime-1);
}

.col-xs-2 {
  flex-basis: var(--lime-2);
  max-width: var(--lime-2);
}

.col-xs-3 {
  flex-basis: var(--lime-3);
  max-width: var(--lime-3);
}

.col-xs-4 {
  flex-basis: var(--lime-4);
  max-width: var(--lime-4);
}

.col-xs-5 {
  flex-basis: var(--lime-5);
  max-width: var(--lime-5);
}

.col-xs-6 {
  flex-basis: var(--lime-6);
  max-width: var(--lime-6);
}

.col-xs-7 {
  flex-basis: var(--lime-7);
  max-width: var(--lime-7);
}

.col-xs-8 {
  flex-basis: var(--lime-8);
  max-width: var(--lime-8);
}

.col-xs-9 {
  flex-basis: var(--lime-9);
  max-width: var(--lime-9);
}

.col-xs-10 {
  flex-basis: var(--lime-10);
  max-width: var(--lime-10);
}

.col-xs-11 {
  flex-basis: var(--lime-11);
  max-width: var(--lime-11);
}

.col-xs-12 {
  flex-basis: var(--lime-12);
  max-width: var(--lime-12);
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: var(--lime-1);
}

.col-xs-offset-2 {
  margin-left: var(--lime-2);
}

.col-xs-offset-3 {
  margin-left: var(--lime-3);
}

.col-xs-offset-4 {
  margin-left: var(--lime-4);
}

.col-xs-offset-5 {
  margin-left: var(--lime-5);
}

.col-xs-offset-6 {
  margin-left: var(--lime-6);
}

.col-xs-offset-7 {
  margin-left: var(--lime-7);
}

.col-xs-offset-8 {
  margin-left: var(--lime-8);
}

.col-xs-offset-9 {
  margin-left: var(--lime-9);
}

.col-xs-offset-10 {
  margin-left: var(--lime-10);
}

.col-xs-offset-11 {
  margin-left: var(--lime-11);
}

.col-xs-first {
  order: -1;
}

.col-xs-last {
  order: 1;
}

.col-xs-reverse {
  flex-direction: column-reverse;
}

/**
 * Small
 */
@media (--viewport-sm) {
  .container {
    width: var(--container-width-sm);
    padding-right: var(--outside-gutter-width-sm);
    padding-left: var(--outside-gutter-width-sm);
  }

  .container-fluid {
    padding-right: var(--outside-gutter-width-sm);
    padding-left: var(--outside-gutter-width-sm);
  }

  .row {
    margin-right: calc(var(--half-gutter-width-sm) * -1);
    margin-left: calc(var(--half-gutter-width-sm) * -1);
  }

  .row-sm-start {
    justify-content: flex-start;
  }

  .row-sm-center {
    justify-content: center;
  }

  .row-sm-end {
    justify-content: flex-end;
  }

  .row-sm-top {
    align-items: flex-start;
  }

  .row-sm-middle {
    align-items: center;
  }

  .row-sm-bottom {
    align-items: flex-end;
  }

  .row-sm-around {
    justify-content: space-around;
  }

  .row-sm-between {
    justify-content: space-between;
  }

  .row-sm-reverse {
    flex-direction: row-reverse;
  }

  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    padding-right: var(--half-gutter-width-sm);
    padding-left: var(--half-gutter-width-sm);
  }

  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width-sm);
    padding-left: var(--half-gutter-width-sm);
  }

  .col-sm-1 {
    flex-basis: var(--lime-1);
    max-width: var(--lime-1);
  }

  .col-sm-2 {
    flex-basis: var(--lime-2);
    max-width: var(--lime-2);
  }

  .col-sm-3 {
    flex-basis: var(--lime-3);
    max-width: var(--lime-3);
  }

  .col-sm-4 {
    flex-basis: var(--lime-4);
    max-width: var(--lime-4);
  }

  .col-sm-5 {
    flex-basis: var(--lime-5);
    max-width: var(--lime-5);
  }

  .col-sm-6 {
    flex-basis: var(--lime-6);
    max-width: var(--lime-6);
  }

  .col-sm-7 {
    flex-basis: var(--lime-7);
    max-width: var(--lime-7);
  }

  .col-sm-8 {
    flex-basis: var(--lime-8);
    max-width: var(--lime-8);
  }

  .col-sm-9 {
    flex-basis: var(--lime-9);
    max-width: var(--lime-9);
  }

  .col-sm-10 {
    flex-basis: var(--lime-10);
    max-width: var(--lime-10);
  }

  .col-sm-11 {
    flex-basis: var(--lime-11);
    max-width: var(--lime-11);
  }

  .col-sm-12 {
    flex-basis: var(--lime-12);
    max-width: var(--lime-12);
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: var(--lime-1);
  }

  .col-sm-offset-2 {
    margin-left: var(--lime-2);
  }

  .col-sm-offset-3 {
    margin-left: var(--lime-3);
  }

  .col-sm-offset-4 {
    margin-left: var(--lime-4);
  }

  .col-sm-offset-5 {
    margin-left: var(--lime-5);
  }

  .col-sm-offset-6 {
    margin-left: var(--lime-6);
  }

  .col-sm-offset-7 {
    margin-left: var(--lime-7);
  }

  .col-sm-offset-8 {
    margin-left: var(--lime-8);
  }

  .col-sm-offset-9 {
    margin-left: var(--lime-9);
  }

  .col-sm-offset-10 {
    margin-left: var(--lime-10);
  }

  .col-sm-offset-11 {
    margin-left: var(--lime-11);
  }

  .col-sm-first {
    order: -1;
  }

  .col-sm-last {
    order: 1;
  }

  .col-sm-reverse {
    flex-direction: column-reverse;
  }
}

/**
 * Medium
 */
@media (--viewport-md) {
  .container {
    width: var(--container-width-md);
    padding-right: var(--outside-gutter-width-md);
    padding-left: var(--outside-gutter-width-md);
  }

  .container-fluid {
    padding-right: var(--outside-gutter-width-md);
    padding-left: var(--outside-gutter-width-md);
  }

  .row {
    margin-right: calc(var(--half-gutter-width-md) * -1);
    margin-left: calc(var(--half-gutter-width-md) * -1);
  }

  .row-md-start {
    justify-content: flex-start;
  }

  .row-md-center {
    justify-content: center;
  }

  .row-md-end {
    justify-content: flex-end;
  }

  .row-md-top {
    align-items: flex-start;
  }

  .row-md-middle {
    align-items: center;
  }

  .row-md-bottom {
    align-items: flex-end;
  }

  .row-md-around {
    justify-content: space-around;
  }

  .row-md-between {
    justify-content: space-between;
  }

  .row-md-reverse {
    flex-direction: row-reverse;
  }

  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    padding-right: var(--half-gutter-width-md);
    padding-left: var(--half-gutter-width-md);
  }

  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width-md);
    padding-left: var(--half-gutter-width-md);
  }

  .col-md-1 {
    flex-basis: var(--lime-1);
    max-width: var(--lime-1);
  }

  .col-md-2 {
    flex-basis: var(--lime-2);
    max-width: var(--lime-2);
  }

  .col-md-3 {
    flex-basis: var(--lime-3);
    max-width: var(--lime-3);
  }

  .col-md-4 {
    flex-basis: var(--lime-4);
    max-width: var(--lime-4);
  }

  .col-md-5 {
    flex-basis: var(--lime-5);
    max-width: var(--lime-5);
  }

  .col-md-6 {
    flex-basis: var(--lime-6);
    max-width: var(--lime-6);
  }

  .col-md-7 {
    flex-basis: var(--lime-7);
    max-width: var(--lime-7);
  }

  .col-md-8 {
    flex-basis: var(--lime-8);
    max-width: var(--lime-8);
  }

  .col-md-9 {
    flex-basis: var(--lime-9);
    max-width: var(--lime-9);
  }

  .col-md-10 {
    flex-basis: var(--lime-10);
    max-width: var(--lime-10);
  }

  .col-md-11 {
    flex-basis: var(--lime-11);
    max-width: var(--lime-11);
  }

  .col-md-12 {
    flex-basis: var(--lime-12);
    max-width: var(--lime-12);
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: var(--lime-1);
  }

  .col-md-offset-2 {
    margin-left: var(--lime-2);
  }

  .col-md-offset-3 {
    margin-left: var(--lime-3);
  }

  .col-md-offset-4 {
    margin-left: var(--lime-4);
  }

  .col-md-offset-5 {
    margin-left: var(--lime-5);
  }

  .col-md-offset-6 {
    margin-left: var(--lime-6);
  }

  .col-md-offset-7 {
    margin-left: var(--lime-7);
  }

  .col-md-offset-8 {
    margin-left: var(--lime-8);
  }

  .col-md-offset-9 {
    margin-left: var(--lime-9);
  }

  .col-md-offset-10 {
    margin-left: var(--lime-10);
  }

  .col-md-offset-11 {
    margin-left: var(--lime-11);
  }

  .col-md-first {
    order: -1;
  }

  .col-md-last {
    order: 1;
  }

  .col-md-reverse {
    flex-direction: column-reverse;
  }
}

/**
 * Large
 */
@media (--viewport-lg) {
  .container {
    width: var(--container-width-lg);
    padding-right: var(--outside-gutter-width-lg);
    padding-left: var(--outside-gutter-width-lg);
  }

  .container-fluid {
    padding-right: var(--outside-gutter-width-lg);
    padding-left: var(--outside-gutter-width-lg);
  }

  .row {
    margin-right: calc(var(--half-gutter-width-lg) * -1);
    margin-left: calc(var(--half-gutter-width-lg) * -1);
  }

  .row-lg-start {
    justify-content: flex-start;
  }

  .row-lg-center {
    justify-content: center;
  }

  .row-lg-end {
    justify-content: flex-end;
  }

  .row-lg-top {
    align-items: flex-start;
  }

  .row-lg-middle {
    align-items: center;
  }

  .row-lg-bottom {
    align-items: flex-end;
  }

  .row-lg-around {
    justify-content: space-around;
  }

  .row-lg-between {
    justify-content: space-between;
  }

  .row-lg-reverse {
    flex-direction: row-reverse;
  }

  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    padding-right: var(--half-gutter-width-lg);
    padding-left: var(--half-gutter-width-lg);
  }

  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width-lg);
    padding-left: var(--half-gutter-width-lg);
  }

  .col-lg-1 {
    flex-basis: var(--lime-1);
    max-width: var(--lime-1);
  }

  .col-lg-2 {
    flex-basis: var(--lime-2);
    max-width: var(--lime-2);
  }

  .col-lg-3 {
    flex-basis: var(--lime-3);
    max-width: var(--lime-3);
  }

  .col-lg-4 {
    flex-basis: var(--lime-4);
    max-width: var(--lime-4);
  }

  .col-lg-5 {
    flex-basis: var(--lime-5);
    max-width: var(--lime-5);
  }

  .col-lg-6 {
    flex-basis: var(--lime-6);
    max-width: var(--lime-6);
  }

  .col-lg-7 {
    flex-basis: var(--lime-7);
    max-width: var(--lime-7);
  }

  .col-lg-8 {
    flex-basis: var(--lime-8);
    max-width: var(--lime-8);
  }

  .col-lg-9 {
    flex-basis: var(--lime-9);
    max-width: var(--lime-9);
  }

  .col-lg-10 {
    flex-basis: var(--lime-10);
    max-width: var(--lime-10);
  }

  .col-lg-11 {
    flex-basis: var(--lime-11);
    max-width: var(--lime-11);
  }

  .col-lg-12 {
    flex-basis: var(--lime-12);
    max-width: var(--lime-12);
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: var(--lime-1);
  }

  .col-lg-offset-2 {
    margin-left: var(--lime-2);
  }

  .col-lg-offset-3 {
    margin-left: var(--lime-3);
  }

  .col-lg-offset-4 {
    margin-left: var(--lime-4);
  }

  .col-lg-offset-5 {
    margin-left: var(--lime-5);
  }

  .col-lg-offset-6 {
    margin-left: var(--lime-6);
  }

  .col-lg-offset-7 {
    margin-left: var(--lime-7);
  }

  .col-lg-offset-8 {
    margin-left: var(--lime-8);
  }

  .col-lg-offset-9 {
    margin-left: var(--lime-9);
  }

  .col-lg-offset-10 {
    margin-left: var(--lime-10);
  }

  .col-lg-offset-11 {
    margin-left: var(--lime-11);
  }

  .col-lg-first {
    order: -1;
  }

  .col-lg-last {
    order: 1;
  }

  .col-lg-reverse {
    flex-direction: column-reverse;
  }
}

/**
 * Extra Large
 */
@media (--viewport-xl) {
  .container {
    width: var(--container-width-xl);
    padding-right: var(--outside-gutter-width-xl);
    padding-left: var(--outside-gutter-width-xl);
  }

  .container-fluid {
    padding-right: var(--outside-gutter-width-xl);
    padding-left: var(--outside-gutter-width-xl);
  }

  .row {
    margin-right: calc(var(--half-gutter-width-xl) * -1);
    margin-left: calc(var(--half-gutter-width-xl) * -1);
  }

  .row-xl-start {
    justify-content: flex-start;
  }

  .row-xl-center {
    justify-content: center;
  }

  .row-xl-end {
    justify-content: flex-end;
  }

  .row-xl-top {
    align-items: flex-start;
  }

  .row-xl-middle {
    align-items: center;
  }

  .row-xl-bottom {
    align-items: flex-end;
  }

  .row-xl-around {
    justify-content: space-around;
  }

  .row-xl-between {
    justify-content: space-between;
  }

  .row-xl-reverse {
    flex-direction: row-reverse;
  }

  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12 {
    padding-right: var(--half-gutter-width-xl);
    padding-left: var(--half-gutter-width-xl);
  }

  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-right: var(--half-gutter-width-xl);
    padding-left: var(--half-gutter-width-xl);
  }

  .col-xl-1 {
    flex-basis: var(--lime-1);
    max-width: var(--lime-1);
  }

  .col-xl-2 {
    flex-basis: var(--lime-2);
    max-width: var(--lime-2);
  }

  .col-xl-3 {
    flex-basis: var(--lime-3);
    max-width: var(--lime-3);
  }

  .col-xl-4 {
    flex-basis: var(--lime-4);
    max-width: var(--lime-4);
  }

  .col-xl-5 {
    flex-basis: var(--lime-5);
    max-width: var(--lime-5);
  }

  .col-xl-6 {
    flex-basis: var(--lime-6);
    max-width: var(--lime-6);
  }

  .col-xl-7 {
    flex-basis: var(--lime-7);
    max-width: var(--lime-7);
  }

  .col-xl-8 {
    flex-basis: var(--lime-8);
    max-width: var(--lime-8);
  }

  .col-xl-9 {
    flex-basis: var(--lime-9);
    max-width: var(--lime-9);
  }

  .col-xl-10 {
    flex-basis: var(--lime-10);
    max-width: var(--lime-10);
  }

  .col-xl-11 {
    flex-basis: var(--lime-11);
    max-width: var(--lime-11);
  }

  .col-xl-12 {
    flex-basis: var(--lime-12);
    max-width: var(--lime-12);
  }

  .col-xl-offset-0 {
    margin-left: 0;
  }

  .col-xl-offset-1 {
    margin-left: var(--lime-1);
  }

  .col-xl-offset-2 {
    margin-left: var(--lime-2);
  }

  .col-xl-offset-3 {
    margin-left: var(--lime-3);
  }

  .col-xl-offset-4 {
    margin-left: var(--lime-4);
  }

  .col-xl-offset-5 {
    margin-left: var(--lime-5);
  }

  .col-xl-offset-6 {
    margin-left: var(--lime-6);
  }

  .col-xl-offset-7 {
    margin-left: var(--lime-7);
  }

  .col-xl-offset-8 {
    margin-left: var(--lime-8);
  }

  .col-xl-offset-9 {
    margin-left: var(--lime-9);
  }

  .col-xl-offset-10 {
    margin-left: var(--lime-10);
  }

  .col-xl-offset-11 {
    margin-left: var(--lime-11);
  }

  .col-xl-first {
    order: -1;
  }

  .col-xl-last {
    order: 1;
  }

  .col-xl-reverse {
    flex-direction: column-reverse;
  }
}
